<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-12 ">
                <div class="header-content mx-auto text-center">
                    <h1 class="display-4 font-weight-normal text-light"><span class="text-default">Excape</span> Outdoor</h1>
                    <p class="lead font-weight-normal text-light">Ga de uitdaging aan!</p>
                    <a class="btn btn-default" href="gamelist.html">Start het spel</a>
                    <a class="btn btn-default" href="#">Spelregels</a>
                </div>
            </div>
        </div>

    </div>

</header>